.nav.navbar-nav {
    font-size: 15px;
}

#searchForm {
    margin-right: 100px;
}

@media (max-width: 1200px) {
    #searchForm {
        display: none
    }
}

.nav.navbar-nav>li>a.active::after {
    content: '';
    position: relative;
    display: block;
    bottom: 0;
    width: auto;
    height: 3px;
    background-color: red;
}